* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #000000;
}

ul {
  padding: 0;
}

.header {
  background: black;
  height: 50px;
}
.header .container .item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
}
.header .container .item .item-right {
  display: flex;
}
.header .container .item .item-right .quantity {
  margin-top: 4px;
  margin-left: 5px;
}

.menu .nav-bar {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}
.menu .nav-bar .tab {
  margin-right: 10px;
}
.menu .nav-bar .tab a {
  opacity: 0.7;
}
.menu .nav-bar .tab a:hover {
  color: #000;
  opacity: 1;
}
.menu .nav-bar .tab.active {
  border-bottom: 1px solid #000000;
}
.menu .nav-bar .tab.active a {
  opacity: 1;
}

.carousel {
  position: absolute;
  width: 100%;
}
.carousel .container .productSlides {
  background-color: transparent;
}
.carousel .container .productSlides .item {
  padding: 10px 70px;
  display: flex;
  align-items: center;
}
.carousel .container .productSlides .item .name {
  font-size: 40px;
  margin: 0;
}
.carousel .container .productSlides .item .description {
  font-size: 20px;
}
.carousel .container .productSlides .item .buy-now {
  background-color: #f8b653;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: white;
}
.carousel .container .productSlides .slick-next {
  right: 0;
}
.carousel .container .productSlides .slick-next:before {
  font-size: 40px;
  color: #f8b653;
}
.carousel .container .productSlides .slick-prev {
  left: 0;
}
.carousel .container .productSlides .slick-prev:before {
  font-size: 40px;
  color: #f8b653;
}
.carousel .container .productSlides .slick-dots li button:before {
  font-size: 10px;
}
.carousel .background {
  position: relative;
}

.features {
  padding: 50px 0;
}
.features h1 {
  font-size: 40px;
  font-weight: 400;
}
.features .feature-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.features .feature-body .product-item {
  background-color: #f8f8f8;
}
.features .feature-body .product-item .product-img {
  padding: 15px 45px;
}
.features .feature-body .product-item .product-img img {
  width: 100%;
}
.features .feature-body .product-item .product-details {
  padding: 0 30px 30px 30px;
}
.features .feature-body .product-item .product-details .product-name {
  margin-bottom: 0;
}
.features .feature-body .product-item .product-details .product-description {
  color: #dedcdc;
}
.features .feature-body .product-item .product-action {
  display: flex;
}
.features .feature-body .product-item .product-action .product-buy {
  display: block;
  width: 50%;
  background-color: #f8b653;
}
.features .feature-body .product-item .product-action .product-price {
  display: block;
  width: 50%;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 24px;
}
.footer a.red {
  color: red;
}
.footer p {
  margin-bottom: 10px;
}
.footer .row {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  gap: 30px;
}
.footer .footer-top .help {
  border-right: 1px solid rgba(222, 220, 220, 0.6);
}
.footer .footer-top .orders {
  border-right: 1px solid rgba(222, 220, 220, 0.6);
}
.footer .footer-bottom {
  background-color: rgba(248, 245, 245, 0.937254902);
}
.footer .footer-bottom .signup {
  border-right: 1px solid rgba(222, 220, 220, 0.6);
}
.footer .footer-bottom .gift {
  border-right: 1px solid rgba(222, 220, 220, 0.6);
}